ul{
  padding: 0;
  list-style-type: none;
}
h3{
  margin: 0;
  padding: 0;
}
.photo{
  margin-left: 20px;
}
.image{
  position: absolute;
  justify-content: flex-start;
  height: 600px;
}
.informatoin{
  margin-left: 500px;
}
